* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    color: white;
}

body {
    background-image: url("images/stars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

input[type=date],
button {
    color: black;
}

img,
iframe {
    display: block;
    margin: 0 auto;
    width: 90vw;
    height: auto;
}

.description {
    padding: 2vh 2vw;
}

h1,
h3,
form {
    text-align: center;
}

.hidden {
    height: 0;
    width: 0;
}