* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    color: white;
}
/* 
body {
    background-image: url("images/stars.jpg");
    background-size: cover;
} */

body {
    background: url("images/stars.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    background-color: #fff;
    -webkit-background-size: calc(100vw) calc(100vh);
    -moz-background-size: calc(100vw) calc(100vh);
    -o-background-size: calc(100vw) calc(100vh);
    background-size: calc(100vw) calc(100vh);
}

input[type=date],
button {
    color: black;
}

img,
iframe {
    display: block;
    margin: 0 auto;
    width: 90vw;
    height: auto;
}

.description {
    padding: 2vh 2vw;
}

h1,
h3,
form {
    text-align: center;
}

.hidden {
    height: 0;
    width: 0;
}